<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFQbWkCZZF6Ntkjj0NkXiWRk1H3ZacxaY</string>
	<key>GCM_SENDER_ID</key>
	<string>266958467701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.sunpreet.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-30b85</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-30b85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266958467701:ios:1cfdffc4929803bb653e3c</string>
</dict>
</plist>